<main>
  <section
    class="relative flex flex-col items-center gradient-background h-screen md:pt-48 pt-32 text-center"
  >
    <h1 class="font-bold text-5xl text-white mb-2">Welcom To ProductPro</h1>
    <h3 class="font-semibold text-2xl text-white mb-8">
      Your go-to solution for streamlined product management and optimization
    </h3>
    <a
      href="/dashboard"
      *ngIf="session; else elseBlock"
      class="border px-6 py-2 text-lg rounded-full mt-8 text-white hover:bg-white hover:text-black"
    >
      View Your Dashboard
    </a>
    <ng-template #elseBlock
      ><a
        href="/login"
        class="border px-6 py-2 text-lg rounded-full mt-8 text-white hover:bg-white hover:text-black"
      >
        Get Started
      </a></ng-template
    >
    <img
      data-aos="fade-up"
      data-aos-duration="1500"
      src="/assets/landing.png"
      height="800"
      width="800"
      alt=""
      class="absolute bottom-0"
    />
  </section>
  <section class="z-[400] bg-gray-200 py-8">
    <div class="flex flex-col justify-center items-center">
      <h5 class="text-center text-3xl">About Us</h5>
      <hr class="w-20 h-1 mx-auto my-4 bg-[#74ebd5] border-0 rounded md:mt-6" />
      <p class="text-center max-w-[700px]">
        Discover innovative ways to manage your inventory and streamline your
        product operations with our advanced management system. Designed for
        businesses of all sizes, our platform helps optimize your inventory
        accuracy and improve overall efficiency.
      </p>
    </div>
    <div class="flex about-section justify-center space-x-8 px-8 py-8 md:py-16">
      <div class="mx-auto">
        <img
          data-aos="fade-right"
          data-aos-duration="1500"
          src="/assets/about-img.jpg"
          alt="Product Management"
          width="800"
        />
      </div>
      <div class="max-md:py-8" data-aos="fade-left" data-aos-duration="1500">
        <h4 class="text-left text-4xl about-text">
          Innovating Inventory Management for Streamlined Business Operations
        </h4>
        <p class="font-light text-lg mt-2">
          Enhance your inventory management with our reliable and user-friendly
          platform. Here’s how we can help:
        </p>
        <ul class="list-disc pl-5 space-y-4 mt-4 text-lg">
          <li>
            Real-time Inventory Tracking - Stay updated with live inventory
            counts to prevent stockouts and excess.
          </li>
          <li>
            Automated Reordering - Set custom thresholds to automatically
            reorder products and maintain ideal inventory levels.
          </li>
          <li>
            Insightful Analytics - Make informed decisions with detailed reports
            on inventory trends, sales performance, and more.
          </li>
          <li>
            Seamless Integration - Easily integrate with your existing sales
            channels, accounting tools, and eCommerce platforms.
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="bg-white h-screen">
    <div class="flex flex-col justify-center items-center">
      <h5 class="text-center text-3xl pt-12">Features</h5>
      <hr class="w-20 h-1 mx-auto my-4 bg-[#74ebd5] border-0 rounded md:mt-6" />
      <p class="text-center max-w-[700px]">
        Explore key features designed to streamline and optimize your inventory
        management. Our tools help you maintain accurate stock levels, reduce
        costs, and improve operational efficiency.
      </p>
    </div>
    <div
      class="grid md:grid-cols-2 lg:grid-cols-2xl gap-6 items-center max-w-6xl mx-auto px-4 py-24"
    >
      <div
        data-aos="zoom-in"
        data-aos-duration="2000"
        class="flex flex-col gap-2 shadow-xl rounded-lg p-4 border"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-8 w-8"
        >
          <path
            d="M21 8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16Z"
          ></path>
          <path d="m3.3 7 8.7 5 8.7-5"></path>
          <path d="M12 22V12"></path>
        </svg>
        <h3 class="text-lg font-bold">Inventory Master</h3>
        <p class="text-sm text-gray-500 dark:text-gray-400">
          Effortlessly manage your inventory with our intuitive app. Add,
          delete, and edit products on the go, ensuring your inventory is always
          up to date.
        </p>
      </div>
      <div
        data-aos="zoom-in"
        data-aos-duration="2000"
        class="flex flex-col gap-2 shadow-xl rounded-lg p-4 border"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-8 w-8"
        >
          <line x1="12" x2="12" y1="2" y2="22"></line>
          <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
        </svg>
        <h3 class="text-lg font-bold">Value Track</h3>
        <p class="text-sm text-gray-500 dark:text-gray-400">
          Gain total control over your total value with our powerful management
          app. Track product details, monitor stock levels, and make informed
          decisions easily.
        </p>
      </div>
      <div
        data-aos="zoom-in"
        data-aos-duration="2000"
        class="flex flex-col gap-2 shadow-xl rounded-lg p-4 border"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-8 w-8"
        >
          <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>
          <circle cx="9" cy="7" r="4"></circle>
          <path d="M22 21v-2a4 4 0 0 0-3-3.87"></path>
          <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
        </svg>
        <h3 class="text-lg font-bold">Product Ease</h3>
        <p class="text-sm text-gray-500 dark:text-gray-400">
          Simplify product management with our user-friendly app. From adding
          new items to editing existing ones, streamline your inventory
          processes effortlessly.
        </p>
      </div>
      <div
        data-aos="zoom-in"
        data-aos-duration="2000"
        class="flex flex-col gap-2 shadow-xl rounded-lg p-4 border"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-6 w-6"
        >
          <line x1="18" x2="18" y1="20" y2="10"></line>
          <line x1="12" x2="12" y1="20" y2="4"></line>
          <line x1="6" x2="6" y1="20" y2="14"></line>
        </svg>
        <h3 class="text-lg font-bold">Stock Sync</h3>
        <p class="text-sm text-gray-500 dark:text-gray-400">
          Unlock the full potential of your inventory with our comprehensive
          app. Easily add or remove products, update details, and track your
          warehouse's value in real-time.
        </p>
      </div>
    </div>
    <hr class="w-20 h-1 mx-auto my-4 bg-[#74ebd5] border-0 rounded md:mt-6" />
  </section>
  <footer class="bg-white py-4 shadow-xl shadow-inner border max-md:mt-48">
    <div class="container mx-auto flex justify-center items-center">
      <p class="">&copy; ProductPro. All Rights Reserved</p>
      <div class="flex max-sm:hidden ml-auto flex-wrap justify-center">
        <a href="/" class="mx-2">Home</a>
        <a href="/" class="mx-2">About</a>
        <a href="/" class="mx-2">Privacy Policy</a>
        <a href="/" class="mx-2">Terms of Use</a>
      </div>
    </div>
  </footer>
</main>
